bin/
obj/
Debug/
Release/
*.nupkg
*.snupkg
*.nuspec
*.symbols.nupkg
packages/
.vscode/
*.dll
*.exe
*.pdb
*.log
project.fragment.lock.json
artifacts/
Migrations/
*.db
*.db-shm
*.db-wal
appsettings.json
appsettings.Development.json
*.http